
section {
  padding: 1rem;
  @media (min-width: 599px) {
    padding: 2rem;
  }

  > h2 {
    margin: 0;
  }


  .why-us-container {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    > * {
      flex: 1;
    }
  }


  &.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    > button {
    }

    color: white;

    height: 40dvh;
    @media (min-width: 599px) {
      height: 50dvh;
    }

    img {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
    }

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      inset: 0;
      //background: rgba(mat.get-theme-color(theme.$theme, primary), 0.5);
      background: rgba(var(--primary-color), 0.4);
    }
  }
}
